body {
    font-family: Arial, sans-serif;
    background: #eee;
}

.container {
    width: 70%;
    margin: 40px auto;
    background: #f7f7f7;
    padding: 30px;
    border: 1px solid #999;
}

h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

textarea {
    height: 200px;
    resize: none;
}

/* FLEXBOX */
.row {
    display: flex;
    gap: 15px;
}

.row input {
    flex: 1;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: #5dade2;
    border: none;
    padding: 10px 18px;
    color: white;
    cursor: pointer;
}